:root {
  --main-color: #212121;
  --second-main-color: #757575;
  --white: #FFFFFF;
  --accent-color: #2196F3;
  --logo-color: #000000;
  --background-header: #ECECEC;
  --background-footer: #2F303A;
  --background-main: #FFFFFF;
  --background-second: #F5F4FA;
  --background-accent: #2196F3;
  --backgground-portfolio-cards: #EEEEEE;
  --soc-icon: #AFB1B8;
  --bg--gradient:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.input-check, .form-textarea, .form-input, .modal-close-button, .modal, .backdrop, .project-link:hover .project-description, .project-description, .project-link, .project-button, .footer-contact, .clients__icon, .contacts__header, .menu__link, .soc__link--dark, .soc__link--light {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container-mobile {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
@media screen and (min-width: 480px) {
  .container-mobile {
    padding-left: 40px;
    padding-right: 40px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__part--light {
  color: #FFFFFF;
}

.logo__part--dark {
  color: #000000;
}

.soc__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.soc__link--light {
  background-color: var(--background-main);
  fill: #AFB1B8;
  transition-property: background-color, fill;
}
.soc__link--light:hover, .soc__link--light:focus {
  background-color: var(--background-accent);
  fill: var(--white);
}

.soc__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white);
  transition-property: background-color;
}
.soc__link--dark:hover, .soc__link--dark:focus {
  background-color: var(--background-accent);
}

.header {
  background-color: var(--background-main);
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: 90px;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition-property: color;
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--background-accent);
  border-radius: 2px;
}
.header-link .current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    gap: 30px;
  }
}

.contacts__header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-main-color);
  transition-property: color;
}
.contacts__header:hover, .contacts__header:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.menu-button {
  margin-right: auto;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.mobile-menu-wrap.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-menu-wrap {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #FFFFFF;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .mobile-menu-wrap {
    display: none;
  }
}

.container-mobile-top {
  margin-bottom: 50px;
}

.close-menu-button {
  display: block;
  margin-left: auto;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.close-menu-button:hover,
.close-menu-button:focus {
  fill: var(--accent-color);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts-tel {
  margin-bottom: 32px;
}

.mobile-tel-link {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mobile-tel-link {
    font-size: 34px;
  }
}

.mobile-mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-main-color);
}

.mobile-soc-list {
  display: flex;
  gap: 10px;
}

.mobile-soc-items:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-soc-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mobile-soc-link {
    font-size: 24px;
  }
}

.hero {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--background-footer);
  background-image: var(--bg--gradient), url(../images/hero_mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg--gradient), url(../images/hero_mobile_2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--bg--gradient), url(../images/hero_tablet.jpg);
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg--gradient), url(../images/hero_tablet_2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: var(--bg--gradient), url(../images/hero.jpg);
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg--gradient), url(../images/hero_2x.jpg);
  }
}

.hero__container {
  padding: 118px 60px;
}

h1 {
  margin-top: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.6154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
@media screen and (min-width: 480px) {
  h1 {
    font-size: 26px;
  }
}

.hero__button {
  border-radius: 4px;
  padding: 10px 24px;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--background-accent);
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .hero__button {
    font-size: 16px;
  }
}

.properties__section {
  text-align: center;
}

.features {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  background-color: var(--background-main);
}

.features__item {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
    text-align: left;
  }
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--background-second);
  border-radius: 4px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-main-color);
}

.services {
  padding-top: 0;
  background-color: var(--background-main);
}
@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.services__title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.services-list {
  display: flex;
}

.services-list__item :not(:last-child) {
  margin-right: 30px;
}

.services-list__element {
  position: relative;
}

.services-list__name--rectangled {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.services-list__name {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.team {
  background-color: var(--background-second);
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
  }
}

.team__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-main-color);
}

.team__item {
  background-color: var(--background-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__overlay {
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients {
  text-align: center;
  background-color: var(--background-main);
}

.clints__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.clients__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.clients__item {
  height: 92px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  transition-property: fill, border-color;
}
.clients__icon:hover, .clients__icon:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  background-color: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  align-items: baseline;
}
@media screen and (min-width: 1200px) {
  .footer-flex {
    gap: 93px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-content {
    align-items: flex-start;
  }
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
}
@media screen and (min-width: 1200px) {
  .footer-address {
    align-items: flex-start;
  }
}

.footer-contact {
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
}
.footer-contact:hover, .footer-contact:focus {
  color: var(--accent-color);
}

.footer-soc-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form-title {
  text-align: center;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.footer-form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-form-wrap {
    flex-direction: row;
  }
}

.footer-button {
  position: relative;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 62px;
  padding-left: 28px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--background-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.footer-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-footer);
  color: var(--white);
}
.footer-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) {
  .footer-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.footer-button-icon {
  align-self: flex-end;
  position: absolute;
  top: 50%;
  left: 148px;
  transform: translate(-50%, -50%);
  margin-left: 10px;
  fill: var(--white);
}

@media screen and (min-width: 768px) {
  .footer_items {
    width: calc((100% - 30px) / 2);
  }
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-top {
    gap: 165px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer-top {
    gap: 70px;
    justify-content: flex-start;
  }
}

.projects {
  background-color: var(--background-main);
}

.project-filtr {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.project-filtr-item:not(:last-child) {
  margin-right: 8px;
}

.project-button {
  display: inline-block;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  border: transparent;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--background-second);
  cursor: pointer;
  transition-property: color, background-color, filter;
}
.project-button:hover, .project-button:focus {
  color: var(--white);
  background-color: var(--background-accent);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.project-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-main-color);
}

.project-item {
  flex-basis: calc((100% - 60px) / 3);
  background-color: var(--backgground-portfolio-cards);
}

.project-link {
  display: inline-block;
  position: relative;
  transition-property: box-shadow;
}
.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards {
  padding: 20px 24px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--backgground-portfolio-cards);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--backgground-portfolio-cards);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--backgground-portfolio-cards);
  background-color: var(--background-main);
}

.project-thumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.project-description {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
}
.project-link:hover .project-description {
  transform: translateY(0);
  transition-property: transform;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  width: 100%;
  height: 100%;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
}
@media screen and (min-width: 480px), (max-width: 767px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-close-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: fill;
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--accent-color);
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-main-color);
}

.modal-form-field {
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border;
}

.form-input:focus,
.form-textarea:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus + .form-input-icon {
  fill: var(--accent-color);
}

.imput-wrap {
  position: relative;
}

.form-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border;
}

.form-textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-main-color);
}
@media screen and (min-width: 1200px) {
  .modal-form-policy {
    font-size: 14px;
  }
}

.modal-form-policy span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 1.8px solid var(--main-color);
  border-radius: 2px;
  fill: transparent;
}

.input-check:checked + .modal-form-policy span {
  background-color: var(--background-accent);
  border-color: transparent;
  fill: var(--white);
}

.input-check {
  transition-property: border-color;
}

.input-check:focus + .modal-form-policy span {
  border-color: var(--background-accent);
}

.policy-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 52px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--background-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */