body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.container {
    width: 100%;
    // width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
        width: 480px;
    }

    @include tablet {
        width: 768px;
    }

    @include desktop {
        width: 1200px;
    }

    // @media screen and (min-width: 480px) {
    //     width: 480px;
    // }

    // @media screen and (min-width: 768px) {
    //     width: 768px;
    // }

    // @media screen and (min-width: 1200px) {
    //         width: 1200px;
    // }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    // padding-top: 94px;
    // padding-bottom: 94px;
    padding-top: 60px;
    padding-bottom: 60px;
}