.clients {
    text-align: center;
    background-color: var(--background-main);
}

.clints__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    @include desktop {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
    }
}

.clients__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.clients__item {
    height: 92px;

    width: calc((100% - 30px) / 2);

    @include tablet {
        width: calc((100% - 60px) / 3);
    }

    @include desktop {
        width: calc((100% - 150px) / 6);
    }
}

.clients__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;

    transition-property: fill, border-color;
    @extend %animation;
    &:hover,
    &:focus {
            fill: var(--accent-color);
            border-color: var(--accent-color);
    }
}
